SERVER_ADDRESS=0.0.0.0
SERVER_PORT=8080

COLLECTION_DATASOURCE_NAME=entomo-espaco
COLLECTION_DATASOURCE_URL=postgresql://postgres:admin@localhost:5432/entomo-espaco
COLLECTION_DATASOURCE_USERNAME=postgres
COLLECTION_DATASOURCE_PASSWORD=admin